android/jni/include
android/jni/x86
android/jni/x86_64
android/jni/arm64-v8a
android/jni/armeabi-v7a
bin/
gen/
libs/
obj/
dist/
output/
local.properties
*DS_Store*
*.idea*
*.iml
android/.gradle
android/*.aar
android/*.pom
android/*.gz
android/*.iml
android/*.properties

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
